<div class="container">

        <!-- Este div, contrendrá el nombre de la app y el buscador -->
        <div class="header">
            <div class="search"> 
                <input type="text" name="" placeholder="Busca tu contacto ...">
            </div>

            <div class="icons">
                <button id="checkUsers"></button>
                <button id="deleteAll"></button>

            </div>
            
        </div>

        <!-- Este div tendrá para crear nuevos contactos -->
        <div class="añadirContacto">
            <div class="contact">

                        <div class="contact-header">
                            <div class="contact-header-picture centered">
                                <div class="circulo"></div>
                            </div>

                            <div class="contact-header-text">
                                <input type="text" placeholder="Nombre...">
                                <input type="email" placeholder="Email...">
                                <input type="tel" placeholder="Teléfono...">
                            </div>
                        </div>

                <div class="contact-footer">
                    <button> Crear</button>
                </div>


            </div>
        
        </div>

        <!-- Este div contendrá todo lo necesario para los contactos -->
        <div class="contactos">

           
            
        </div>



    

    
</div>