<div class="container">

        <!-- Este div, contrendrá el nombre de la app y el buscador -->
        <div class="header">
            <div class="search"> 
                <input type="text" name="" placeholder="Busca tu contacto ...">
            </div>

            <div class="icons">
                <button id="checkUsers"></button>
                <button (click)="deteleContacs()" id="deleteAll"></button>

            </div>
            
        </div>

        <!-- Este div tendrá para crear nuevos contactos -->
        <div class="añadirContacto">
            <div class="contact">

                        <div class="contact-header">
                            <div class="contact-header-picture centered">
                                <div class="circulo"></div>
                            </div>

                            <div class="contact-header-text">
                                <input type="text" placeholder="Nombre..." [(ngModel)]="nombre" (blur)="onBlur()" >
                                <input type="email" placeholder="Email..." [(ngModel)]="email" (blur)="onBlur()">
                                <input type="tel" placeholder="Teléfono..." [(ngModel)]="telefono" (blur)="onBlur()">
                                <span *ngIf="error">{{validacionNombre}}</span>
                                <span *ngIf="error">{{validacionEmail}}</span>
                                <span *ngIf="error">{{validacionTelefono}}</span>
                            </div>
                        </div>

                <div class="contact-footer">
                    <button (click)="addContact()" > Crear</button>
                </div>


            </div>
        
        </div>

        <!-- Este div contendrá todo lo necesario para los contactos -->
        <div class="contactos">

            <div 
            *ngFor="let item of contactContainer" 
            class="contact">

                <div  class="contact-header">
                    <div class="contact-header-picture centered">
                        <div class="circulo"></div>
                    </div>

                    
                    <div class="contact-header-text">
                        <span> {{item.nombre}} </span>
                        <span> {{item.email}} </span>
                        <span> {{item.telefono}} </span>
                    </div>
                </div>

                <div class="contact-footer">
                    <button id="editIcon"> </button> 
                    <!-- (click)="addContact()" -->
                    <button id="checkIcon"> </button>
                    <button id="deleteIcon" > </button>
                </div>


    </div>
           
            
        </div>



    

    
</div>